*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/

gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle.kts

scripts/
docs/
/README_TravelShare_App.md

# ignore APKs and release files
*.apk
app/release/
output-metadata.json
