# This file should *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.

sdk.dir=/home/mehdi/Android/Sdk
#change this to the path of your SDK
MAPS_API_KEY=<your Maps SDK API key here>
